<div class="container-login">
  <div class="login">
    <span class="titulo-login">LOGIN</span>
    <form class="form">
      <label class="campo-form"
        >Email
        <input type="email" placeholder="Ex. pat@example.com" />
      </label>
      <label class="campo-form"
        >Senha
        <input type="password" placeholder="Ex. 123456" />
      </label>
      <button class="btn btn-primary" mat-stroked-button>Login</button>
    </form>
    <span>Não tem conta? <a routerLink="/registrar">Criar</a></span>
  </div>
</div>
